In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

from sklearn.model_selection import train_test_split
from darts.models import AutoARIMA
import darts
from sklearn.metrics import mean_absolute_error as mae, mean_absolute_percentage_error as mape
warnings.filterwarnings('ignore')

In [2]:
def load_data_comp_train():
    train = pd.read_csv('../data/train.csv')
    client = pd.read_csv('../data/client.csv')
    electricity_prices = pd.read_csv('../data/electricity_prices.csv')
    forecast_weather = pd.read_csv('../data/forecast_weather.csv')
    gas_prices = pd.read_csv('../data/gas_prices.csv')
    historical_weather = pd.read_csv('../data/historical_weather.csv')

    return (train, client, electricity_prices, forecast_weather,
            gas_prices, historical_weather)


def load_data_comp_test():
    test = pd.read_csv('../data/example_test_files/test.csv')
    client_test = pd.read_csv('../data/example_test_files/client.csv')
    electricity_prices_test = pd.read_csv('../data/example_test_files/electricity_prices.csv')
    forecast_weather_test = pd.read_csv('../data/example_test_files/forecast_weather.csv')
    gas_prices_test = pd.read_csv('../data/example_test_files/gas_prices.csv')
    historical_weather_test = pd.read_csv('../data/historical_weather.csv')

    return (test, client_test, electricity_prices_test, forecast_weather_test,
            gas_prices_test, historical_weather_test)

In [3]:
train, client, electricity_prices, forecast_weather, gas_prices, historical_weather = load_data_comp_train()
test, client_test, electricity_prices_test, forecast_weather_test, gas_prices_test, historical_weather_test = load_data_comp_test()

# Autorregresive Models

In [4]:
train.head()

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id
0,0,0,1,0.713,0,2021-09-01 00:00:00,0,0,0
1,0,0,1,96.590,1,2021-09-01 00:00:00,0,1,0
2,0,0,2,0.000,0,2021-09-01 00:00:00,0,2,1
3,0,0,2,17.314,1,2021-09-01 00:00:00,0,3,1
4,0,0,3,2.904,0,2021-09-01 00:00:00,0,4,2

In [5]:
# Realizamos el análisis para los segmentos siempre activos
activos = ['31', '51', '45', '8', '15', '35', '56', '20', '60', '50', '32', '6', '18', '55', '57', '4', '54', '42', '28', '33', '14', '1', '34', '39', '48', '3', '53', '29', '37', '16', '43', '5', '46', '58', '23', '24', '10', '7', '2', '36', '49', '27', '12', '30', '59', '19', '22', '52', '0', '11', '25', '9', '13', '38', '17', '40']

In [6]:
# Para cada county, is_business, product_type, is_consumption, datetime se hará un modelo de ts pata la variable target
cols_to_model = ['county', 'is_business', 'product_type', 'is_consumption', 'datetime', 'target']
cols_to_group = ['county', 'is_business', 'product_type', 'is_consumption']
data_model = train.copy().loc[train.prediction_unit_id.astype(str).isin(activos)][cols_to_model]

In [7]:
unique_combinations = data_model[cols_to_group].drop_duplicates()
unique_combinations

     county  is_business  product_type  is_consumption
0         0            0             1               0
1         0            0             1               1
2         0            0             2               0
3         0            0             2               1
4         0            0             3               0
..      ...          ...           ...             ...
117      15            0             3               1
118      15            1             1               0
119      15            1             1               1
120      15            1             3               0
121      15            1             3               1

[112 rows x 4 columns]

# Primer modelo

In [8]:
df_exp = data_model.copy().loc[data_model[cols_to_group].eq(unique_combinations.iloc[0]).all(axis=1)]

In [116]:
# df_exp.reset_index(inplace=True)
# df_exp.set_index('datetime', inplace=True)

In [9]:
results_ = pd.DataFrame(columns=['county', 'is_business', 'product_type', 'is_consumption', 'Model' , 'MAPE', 'MAE'])

In [10]:
df_exp.head()

,county,is_business,product_type,is_consumption,datetime,target
0,0,0,1,0,2021-09-01 00:00:00,0.713
122,0,0,1,0,2021-09-01 01:00:00,1.132
244,0,0,1,0,2021-09-01 02:00:00,0.490
366,0,0,1,0,2021-09-01 03:00:00,0.496
488,0,0,1,0,2021-09-01 04:00:00,0.149

In [11]:
df_exp['target'].interpolate(method='linear', inplace=True)

In [56]:
train_size = int(0.75 * df_exp.shape[0])
train_data_ext, test_data_ext = df_exp[:train_size], df_exp[train_size:]

In [57]:
ts_exp=darts.TimeSeries.from_dataframe(df=train_data_ext, value_cols='target' , time_col='datetime')

In [152]:
model = AutoARIMA()

In [153]:
model.fit(ts_exp)

AutoARIMA(add_encoders=None)

In [154]:
model.model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                               SARIMAX Results
==============================================================================
Dep. Variable:                      y   No. Observations:                11484
Model:               SARIMAX(4, 1, 3)   Log Likelihood              -65758.066
Date:                Mon, 29 Apr 2024   AIC                         131532.133
Time:                        22:05:02   BIC                         131590.922
Sample:                             0   HQIC                        131551.896
                              - 11484
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1         -0.7569      0.030    -25.068      0.000      -0.816      -0.698
ar.L2         -0.1904      0.037     -5.214      0.000      -0.262      -0.119
ar.L3         -0.2841      0.024    -11.598      0.000      -0.332      -0.236
ar.L4         -0.1303      0.012    -10.913      0.000      -0.154      -0.107
ma.L1          0.9665      0.031     31.569      0.000       0.906       1.026
ma.L2          0.5042      0.042     11.871      0.000       0.421       0.587
ma.L3          0.3498      0.031     11.373      0.000       0.289       0.410
sigma2      5514.8308     37.257    148.020      0.000    5441.808    5587.854
===================================================================================
Ljung-Box (L1) (Q):                   0.00   Jarque-Bera (JB):             21707.52
Prob(Q):                              0.95   Prob(JB):                         0.00
Heteroskedasticity (H):               2.54   Skew:                             0.76
Prob(H) (two-sided):                  0.00   Kurtosis:                         9.56
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
"""

In [61]:
forecast = model.predict(len(test_data_ext))

In [105]:
# metricas, mape, mae
mape_value = mape(forecast.pd_dataframe()['target'].values, test_data_ext['target'].values)
mae_value = mae(forecast.pd_dataframe()['target'].values, test_data_ext['target'].values)
print(str(model.model.summary().tables[0][1][1]))
print(f'MAPE: {mape_value}, MAE: {mae_value}')

SARIMAX(5, 1, 0)
MAPE: 30.497431306091933, MAE: 365.99685838409374

In [ ]:
str(model.model.summary().tables[0][1][1])

In [112]:
pd_tm = pd.DataFrame({'county': unique_combinations.iloc[0]['county'],
                      'is_business': unique_combinations.iloc[0]['is_business'], 
                      'product_type': unique_combinations.iloc[0]['product_type'], 
                      'is_consumption': unique_combinations.iloc[0]['is_consumption'], 
                      'Model': str(model.model.summary().tables[0][1][1]), 
                      'MAPE': mape_value, 'MAE': mae_value}, index=[0])

In [113]:
results_ = pd.concat([results_, pd_tm], ignore_index=False)

In [114]:
results_

,county,is_business,product_type,is_consumption,Model,MAPE,MAE
0,0,0,1,0,"SARIMAX(5, 1, 0)",30.497431,365.996858

# Iteración para todas las combinaciones

In [119]:
results_ = pd.DataFrame(columns=['county', 'is_business', 'product_type', 'is_consumption', 'Model' , 'MAPE', 'MAE'])

In [120]:
for row in range(unique_combinations.shape[0]):
    df_exp = data_model.copy().loc[data_model[cols_to_group].eq(unique_combinations.iloc[row]).all(axis=1)]
    df_exp['target'].interpolate(method='linear', inplace=True)
    train_size = int(0.75 * df_exp.shape[0])
    train_data_ext, test_data_ext = df_exp[:train_size], df_exp[train_size:]
    ts_exp=darts.TimeSeries.from_dataframe(df=train_data_ext, value_cols='target' , time_col='datetime')
    model = AutoARIMA()
    model.fit(ts_exp)
    forecast = model.predict(len(test_data_ext))
    mape_value = mape(forecast.pd_dataframe()['target'].values, test_data_ext['target'].values)
    mae_value = mae(forecast.pd_dataframe()['target'].values, test_data_ext['target'].values)
    pd_tm = pd.DataFrame({'county': unique_combinations.iloc[row]['county'],
                          'is_business': unique_combinations.iloc[row]['is_business'], 
                          'product_type': unique_combinations.iloc[row]['product_type'], 
                          'is_consumption': unique_combinations.iloc[row]['is_consumption'], 
                          'Model': str(model.model.summary().tables[0][1][1]), 
                          'MAPE': mape_value, 'MAE': mae_value}, index=[row])
    results_ = pd.concat([results_, pd_tm], ignore_index=False)

In [132]:
results_

,county,is_business,product_type,is_consumption,Model,MAPE,MAE
0,0,0,1,0,"SARIMAX(5, 1, 0)",30.4974,365.9969
1,0,0,1,1,"SARIMAX(3, 1, 2)",0.3299,263.7835
2,0,0,2,0,"SARIMAX(5, 1, 0)",7.4103,4.6738
3,0,0,2,1,"SARIMAX(5, 1, 3)",0.4758,16.0097
4,0,0,3,0,"SARIMAX(5, 1, 0)",17.9910,1169.6682
...,...,...,...,...,...,...,...
107,15,0,3,1,"SARIMAX(5, 1, 5)",0.3254,51.4981
108,15,1,1,0,"SARIMAX(1, 1, 0)",9.2357,50.2766
109,15,1,1,1,"SARIMAX(4, 1, 1)",0.9012,84.8166
110,15,1,3,0,"SARIMAX(5, 1, 0)",21.5064,113.8193
111,15,1,3,1,"SARIMAX(4, 1, 3)",0.4768,291.2532

In [122]:
results_.to_csv('results_arima.csv', index=False)

#### MAPE & MAE By County

In [130]:
# suppress scientific notation by setting float_format
pd.options.display.float_format = '{:.4f}'.format

In [147]:
mp_cn = results_.groupby('county').agg({'MAPE': 'median', 'MAE': 'median'}).sort_values(by='MAPE', ascending=False)
mp_cn

                         MAPE      MAE
county
12     33101478437973900.0000 115.2858
6                     46.9750  67.7329
9                     17.5159  66.9053
7                      9.6499 149.8007
1                      8.8309  29.1280
10                     6.2832  78.9838
13                     5.4847  65.9131
15                     5.0685  68.1574
2                      4.4575  59.5641
0                      3.9430 441.3207
5                      3.7663  77.1092
11                     3.7414 322.6216
8                      3.5596  61.9424
4                      2.7978  75.3481
3                      1.9572  48.4688
14                     1.6564  84.9363

#### MAPE & MAE By is_business

In [143]:
results_.groupby('is_business').agg({'MAPE': 'mean', 'MAE': 'mean'}).sort_values(by='MAPE', ascending=False)

                             MAPE      MAE
is_business
1           1182195658499123.2500 286.8944
0                         10.1848 125.8681

#### MAPE & MAE By product_type

In [144]:
results_.groupby('product_type').agg({'MAPE': 'mean', 'MAE': 'mean'}).sort_values(by='MAPE', ascending=False)

                              MAPE      MAE
product_type
3            1103382614599167.7500 305.9824
0                          86.8778 201.7814
1                          19.8005  80.0995
2                           3.9430  10.3418

#### MAPE & MAE By is_consumption

In [145]:
results_.groupby('is_consumption').agg({'MAPE': 'mean', 'MAE': 'mean'}).sort_values(by='MAPE', ascending=False)

                                MAPE      MAE
is_consumption
0              1182195658499132.7500 149.4250
1                             0.6268 263.3375

## Escogemos los cinco mejores modelos

In [14]:
best_models = pd.read_csv('results_arima.csv')

In [18]:
non_com = best_models.loc[best_models.is_consumption == 0 ].sort_values(by='MAPE', ascending=True).head(5)

In [19]:
is_com = best_models.loc[best_models.is_consumption == 1 ].sort_values(by='MAPE', ascending=True).head(5)

## AutoArima para los cinco mejores modelos en consumo

In [20]:
is_com_models = is_com[['county', 'is_business', 'product_type', 'is_consumption']]

In [22]:
is_com_models.reset_index(inplace=True, drop=True)

In [25]:
is_con_res = pd.DataFrame(columns=['county', 'is_business', 'product_type', 'is_consumption', 'Model' , 'MAPE', 'MAE'])
model_con = {}
for row in range(is_com_models.shape[0]):
    df_exp = data_model.copy().loc[data_model[cols_to_group].eq(is_com_models.iloc[row]).all(axis=1)]
    df_exp['target'].interpolate(method='linear', inplace=True)
    train_size = int(0.75 * df_exp.shape[0])
    train_data_ext, test_data_ext = df_exp[:train_size], df_exp[train_size:]
    ts_exp=darts.TimeSeries.from_dataframe(df=train_data_ext, value_cols='target' , time_col='datetime')
    model = AutoARIMA()
    model.fit(ts_exp)
    forecast = model.predict(len(test_data_ext))
    mape_value = mape(forecast.pd_dataframe()['target'].values, test_data_ext['target'].values)
    mae_value = mae(forecast.pd_dataframe()['target'].values, test_data_ext['target'].values)
    pd_tm = pd.DataFrame({'county': unique_combinations.iloc[row]['county'],
                          'is_business': unique_combinations.iloc[row]['is_business'], 
                          'product_type': unique_combinations.iloc[row]['product_type'], 
                          'is_consumption': unique_combinations.iloc[row]['is_consumption'], 
                          'Model': str(model.model.summary().tables[0][1][1]), 
                          'MAPE': mape_value, 'MAE': mae_value}, index=[row])
    is_con_res = pd.concat([is_con_res, pd_tm], ignore_index=False)
    model_con[row] = model

In [27]:
is_con_res.drop('MAE', axis=1, inplace=True)

In [29]:
model_con[0].model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                               SARIMAX Results
==============================================================================
Dep. Variable:                      y   No. Observations:                11484
Model:               SARIMAX(3, 1, 1)   Log Likelihood              -57240.018
Date:                Wed, 01 May 2024   AIC                         114490.036
Time:                        17:03:34   BIC                         114526.779
Sample:                             0   HQIC                        114502.388
                              - 11484
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1          0.9383      0.006    149.129      0.000       0.926       0.951
ar.L2          0.0861      0.008     10.301      0.000       0.070       0.103
ar.L3         -0.2284      0.007    -34.252      0.000      -0.241      -0.215
ma.L1         -0.9875      0.002   -622.140      0.000      -0.991      -0.984
sigma2      1250.6927      9.844    127.045      0.000    1231.398    1269.988
===================================================================================
Ljung-Box (L1) (Q):                   6.11   Jarque-Bera (JB):              7159.07
Prob(Q):                              0.01   Prob(JB):                         0.00
Heteroskedasticity (H):               1.76   Skew:                             0.65
Prob(H) (two-sided):                  0.00   Kurtosis:                         6.64
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
"""

El test de Ljung-Box es un test de independencia de los residuos. La hipótesis nula es que los residuos son independientes. Si el p-valor es menor que el nivel de significancia, se rechaza la hipótesis nula. Lo que implica que los residuos no son independientes y por lo tanto el modelo no es adecuado.
 
El test de Jarque-Bera es un test de normalidad de los residuos. La hipótesis nula es que los residuos son normalmente distribuidos. Si el p-valor es menor que el nivel de significancia, se rechaza la hipótesis nula, esto implica que los residuos no son normalmente distribuidos y por lo tanto el modelo no es adecuado.

Se propone dado que se rechazan estos resultados proponer otros modelos como ARIMA, SARIMA, SARIMAX, etc.

In [56]:
ljung_box = [f'{(model_con[i].model.summary().tables[2][0][1])}({str(model_con[i].model.summary().tables[2][1][1])})' for i in range(5)]
Jaque_bera = [f'{(model_con[i].model.summary().tables[2][0][3])}({str(model_con[i].model.summary().tables[2][1][3])})' for i in range(5)]

In [57]:
is_con_res['Ljung-Box(pvalue)'] = ljung_box
is_con_res['Jarque-Bera(pvalue)'] = Jaque_bera

In [58]:
is_con_res

,county,is_business,product_type,is_consumption,Model,MAPE,Ljung-Box(pvalue),Jarque-Bera(pvalue)
0,0,0,1,0,"SARIMAX(3, 1, 1)",0.185750,6.11(0.01),7159.07(0.00)
1,0,0,1,1,"SARIMAX(1, 1, 0)",0.261130,0.00(0.99),42769.14(0.00)
2,0,0,2,0,"SARIMAX(5, 1, 3)",0.278146,2.76(0.10),17597.21(0.00)
3,0,0,2,1,"SARIMAX(3, 1, 1)",0.283268,0.00(0.99),103042.12(0.00)
4,0,0,3,0,"SARIMAX(1, 1, 2)",0.296265,0.06(0.80),97643.15(0.00)

## AutoArima para los cinco mejores modelos en no consumo